body {
    font-family: 'Roboto Condensed', sans-serif;
}
#Dcard{
	margin-top: 40px;
}
#demo {
        position: absolute;
        top: 20px;
        left: 80%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: none;
        text-align: center;
        line-height: 30px;
      }
.custom-toggler.navbar-toggler {
	display: none;
}
.navbar-brand{
	margin: auto;
}
#driv{
	width:100%;
	height:350px;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 102% 100%;	   
}
.mes{
	padding-top:80px;			  	
	font-size: 45px; 
	margin: 0px;
	text-align: center;
	color: white;
	text-shadow:
	   5px  2px 0 #000,
	  -1px -1px 0 #000,  
	   5px -1px 0 #000,
	  -1px  1px 0 #000,
	   1px  1px 0 #000;
			  	
}		
.navbar-brand{
	margin-right:43.75% ;
}

.foot{
	margin-top: -189px;
}
.navbar-light .navbar-nav .nav-link{
	margin: auto;
}

.navbar-light .navbar-nav .nav-item:active .nav-link{
	background-color: rgb(40, 167, 69);
	color:white!important;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link{
	background-color: white!important;
    color: rgb(40, 167, 69)!important;
}
.custom-active :active{
	background-color: rgb(40, 167, 69);
	color:white!important;
}


.btn-success {
    color: #28a745;
    background:white;
    border-color: #28a745;
}

@media only screen and (max-width: 768px) {
	#driv {		
	  background-color:rgb(40, 167, 69);
	background-image: none;
		
	}
	.col{
	 background-color:rgb(40, 167, 69);
	background-image: none;
	}
	.foot{
	border-top-color:black;
	margin-top: 189px;
}
}